<?xml version="1.0" encoding="utf-8"?>
<TableLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:minWidth="25px"
    android:minHeight="25px"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:id="@+id/tableLayout1"
    android:stretchColumns="1">
    <TableRow
        android:id="@+id/tableRow1">
        <TextView
            android:text="Enter ID and Password"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/authenticationLabel"
            android:layout_gravity="center"
            android:gravity="center"
            android:textSize="29.0sp"
            android:textStyle="bold"
            android:layout_column="1" />
    </TableRow>
    <TableRow
        android:id="@+id/tableRow2">
        <EditText
            android:layout_column="1"
            android:id="@+id/IdEditText"
            android:hint="Enter Id here"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="center_vertical"
            android:gravity="left"
            android:textSize="20.0sp"
            android:textStyle="normal"
            android:layout_marginRight="0.0dp" />
    </TableRow>
    <TableRow
        android:id="@+id/tableRow3">
        <EditText
            android:layout_column="1"
            android:id="@+id/passwordEditText"
            android:password="true"
            android:hint="Enter Password here"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="center_vertical"
            android:gravity="left"
            android:textSize="20.0sp"
            android:textStyle="normal" />
    </TableRow>
    <TableRow
        android:id="@+id/tableRow4">
        <Button
            android:text="Login"
            android:id="@+id/loginButton"
            android:layout_column="1"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:gravity="center"
            android:textSize="20.0sp"
            android:textStyle="normal" />
    </TableRow>
</TableLayout>